.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 40px 20px;
    box-sizing: border-box;
    width: 100%;
}

.content-container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.festival-list-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.section_fes {
    background-color: #dddddd;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
}

.headerText {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 208, 147);
    border-radius: 5px;
    margin-bottom: 15px;
}

.innerText {
    color: #555;
}

.section__data {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px; 
    color: white;
}

.icon {
    margin-right: 5px;
}

.section__data.생태자연 {
    background-color: #a5d6a7; 
}
.section__data.자연 {
    background-color: #a5d6a7;
}
.section__data.전통역사 {
    background-color: #fc9895;
}

.section__data.주민화합 {
    background-color: #ffed4f;
}

.section__data.특산물 {
    background-color: #fdc585;
}
.section__data.지역특산물 {
    background-color: #fdc585;
}

.section__data.문화예술 {
    background-color: #f8bbd0;
}
.section__data.기타 {
    background-color: #a1a1a1;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.filters-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.filters-container input,
.filters-container select {
    margin: 0 0 10px 0;
}

.festival-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.section_fes {
    flex: 1 1 calc(33.333% - 20px); 
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #f0f0f0e1;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black; 
    color: white; 
}

.headerText,
.innerText,
.InnerText,
.section__data {
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-images-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

.small-img {
    width: 400px;
    height: 100px;
}

.large-image-container {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.large-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
